@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('bootstrap.min.css');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Helvetica, sans-serif;
  color: #2e2d2d;
}

a {
  text-decoration: none;
}

.nav-menu__item {
  list-style: none;
}

.nav-menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}

.nav-link {
  color: rgba(46, 45, 45, .6);
  transition: color .2s ease-in-out;
}

.nav-link:hover {
  color: rgba(46, 45, 45, 1);
  transition: color .2s ease-in-out;
}

.main-block__info {
  padding-top: 5rem;
  align-items: start;
  justify-content: center;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.skills_and_edu_block,
.section-wrapper__row {
  padding-top: 4rem;
  align-items: flex-start;
  justify-content: center;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.img-page__avatar {
  width: 320px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-description {
  text-align: justify;
  margin-bottom: 1.5rem;
}

.h1-name {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.h1-name::after {
  content: '';
  display: block;
  height: 2px;
  width: 330px;
  background: rgb(72, 175, 66);
}

.h2-title {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.h3_title {
  font-size: 1.15em;
  text-transform: lowercase;
  font-weight: 300;
  padding-top: 1rem;
}

.code-title {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.code-block {
  margin-bottom: 2rem;
}

.position {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 3rem;
}

::marker {
  color: rgb(72, 175, 66);
  font-size: 1.1em;
}

.footer-list {
  list-style: none;
}

.footer-link,
.footer-list__item {
  text-decoration: none;
  color: #fff;
  font-size: 1.15rem;
  transition: color .3s ease-in-out;
}

.footer-link:hover {
  color: #2e2d2d;
  transition: color .3s ease-in-out;
}

svg:hover {
  fill:  rgba(12,30,106,.8);
  transition: fill .3s ease-in-out;
}

.footer-wrapper {
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(12,30,106,1) 0%, rgba(9,98,121,1) 34%, rgba(25,237,113,1) 96%);
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.footer-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
  height: 8rem;
}

@media screen and (min-width: 0) and (max-width: 575.98px) {
  .cv-wrapper {
    width: 100%;
  }

  .cv-header {
    display: none;
  }

  .h1-name {
    font-size: 2rem;
  }

  .h1-name::after {
    width: 150px;
  }

  .h2-title {
    font-size: 1.2rem;
  }

  .main-block_info {
    flex-direction: column;
  }

  .about-description {
    font-size: .9rem;
  }

  .main-block__description {
    padding-left: 1.5rem;
    width: 60%;
  }

  .position {
    padding-bottom: 2rem;
    font-size: 1.35rem;
  }

  .skills-wrapper {
    width: 60%;
  }

  .education-wrapper {
    width: 60%;
  }

  .code-block {
    width: 90%;
  }

  .wrapper_section {
    font-size: .9rem;
  }

  .footer-list__item,
  .footer-link {
    color: #111111;
    font-weight: 500;
    font-size: .9rem;
    transition: color .3s ease-in-out;
    padding: 0 .75rem;
  }

  .footer-link:hover {
    color: rgba(36, 56, 150, 0.9);
    transition: color .3s ease-in-out;
  }

  .footer-wrapper {
    background: linear-gradient(90deg, rgb(67, 93, 194) 0%, rgb(34, 139, 166) 34%, rgb(47, 197, 109) 96%);
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px)  {
  .cv-wrapper {
    width: 100%;
  }

  .cv-header {
    display: none;
  }

  .h1-name {
    font-size: 2rem;
  }

  .h1-name::after {
    width: 275px;
  }

  .h2-title {
    font-size: 1.2rem;
  }

  .main-block_info {
    flex-direction: column;
  }

  .about-description {
    font-size: .9rem;
  }

  .main-block__description {
    padding-left: 1.5rem;
    width: 60%;
  }

  .position {
    padding-bottom: 2rem;
    font-size: 1.35rem;
  }

  .skills-wrapper {
    width: 60%;
  }

  .education-wrapper {
    width: 60%;
  }

  .code-block {
    width: 90%;
  }

  .wrapper_section {
    font-size: .9rem;
  }

  .footer-list__item,
  .footer-link {
    color: #111111;
    font-weight: 500;
    font-size: .9rem;
    transition: color .3s ease-in-out;
    padding: 0 .75rem;
  }

  .footer-link:hover {
    color: rgba(36, 56, 150, 0.9);
    transition: color .3s ease-in-out;
  }

  .footer-wrapper {
    background: linear-gradient(90deg, rgb(67, 93, 194) 0%, rgb(34, 139, 166) 34%, rgb(47, 197, 109) 96%);
  }
  
}

@media screen and (min-width: 768px) and (max-width: 991.98px)  {
  .h1-name {
    font-size: 2rem;
  }

  .h1-name::after {
    width: 280px;
  }

  .h2-title {
    font-size: 1.3rem;
  }

  .main-block_info {
    flex-direction: column;
  }

  .main-block__description {
    padding-left: 1.5rem;
    width: 50%;
  }

  .position {
    padding-bottom: 2rem;
    font-size: 1.35rem;
  }

  .skills-wrapper {
    width: 50%;
  }

  .code-block {
    width: 83%;
  }

  .education-wrapper {
    width: 50%;
  }

  .footer-list__item,
  .footer-link {
    font-size: 1rem;
  }
}
